<ion-header>
  <ion-toolbar>
    <ion-title>Instagram</ion-title>
    <ion-icon name="logo-instagram" slot="start" color="danger"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button routerLink="/home" color="light">
      <ion-icon color="dark" name="arrow-undo-outline"></ion-icon>
    </ion-button>

    <p><strong>Instagram</strong> é uma rede social online de compartilhamento de fotos e vídeos entre seus usuários, que permite aplicar filtros digitais e compartilhá-los em uma variedade de serviços de redes sociais, como Facebook, Twitter, Tumblr e Flickr.</p>
    <p>O Instagram foi criado por Kevin Systrom e Mike Krieger e lançado em outubro de 2010. O serviço rapidamente ganhou popularidade, com mais de 1 bilhão de usuários ativos em maio 2020.O Instagram foi adquirido pelo Facebook em abril de 2012 por cerca de 1 bilhão de dólares em dinheiro e ações. O Instagram é distribuído através da Apple App Store, Google Play e Windows Phone Store.</p>
</ion-content>
