<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
      <strong style="text-align: center; font-size: x-large;">Redes sociais</strong>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  

  <div id="divBotao">
    
    <p style="text-align: left; font-size: large;"><strong>Leia sobre:</strong></p>
    <ion-button routerLink="/login"  expand="full" color="tertiary">Login</ion-button>
    <ion-button routerLink="/tela1" expand="full" color="tertiary">Instagram</ion-button><br>
    <ion-button routerLink="/tela2" expand="full" color="tertiary">Facebook</ion-button><br>
    <ion-button routerLink="/tela3" expand="full" color="tertiary">Twitter</ion-button>
  </div>
  
</ion-content>
